body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0em;
    overflow: hidden;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.name {
    font-size: 2em;
    font-weight: bold;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.main {
    overflow: auto;
    display: flex;
}

.lcol,
.rcol {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.lcol span,
.rcol span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    white-space: nowrap;
}
.mcol {
    flex: 1;
    display: flex;
}

.col1,
.col2 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col1 {
    align-items: flex-end;
    justify-content: center;
}

.col2 {
    align-items: flex-start;
    justify-content: space-around;
}

.statue {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.footer {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}